* {
  box-sizing: border-box;
}
html, body {
  font-size: 100%;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
picture {
  display: block;
}

body {
  height: 100vh;
  margin: 0;
}

.wrapper {
  height: 100vh;
  width: 60vw;
  margin: auto;
}

header {
  height: 5%;
}

.statistics {
  height: 15%;
}

.wrapper-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  justify-content: center;
  align-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid blue;
  height: 6.66%;
  width: 6.66%;  
}

/* Posicionamiento */

.grid div.cannion {
  background-image: url('../assets/canion.png');
  background-repeat: no-repeat;
  background-size: contain; 
  cursor: pointer;
}

.grid div.invadersHigh {
  background-image: url('../assets/invadersBlue11.png');
  background-repeat: no-repeat;
  background-size: contain; 
  cursor: pointer;
}

.grid div.invadersMedium {
  background-image: url('../assets/invadersRed1.jpg');
  background-repeat: no-repeat;
  background-size: contain; 
  cursor: pointer;
}

.grid div.invadersLow {
  background-image: url('../assets/invadersLila1.png');
  background-repeat: no-repeat;
  background-size: contain; 
  cursor: pointer;
}

/* movimiento */
/* 
div#0 {
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* Disparos */

.grid div.bala {
  background-image: url('../assets/balas.png');
  background-repeat: no-repeat;
  background-size: contain; 
  cursor: pointer;
}

/*Animaciones - points - Game Over*/

#game-over {
  position: relative;
  width: 300px;
  height: 300px;
  bottom: 500px;  
  background-color: hsla( 0turn , 100% ,50% , 0.5 );
  color: white;
  font-weight: bolder;
  font-size: 20px;
  left: 150px;
  display: flex;
  text-align: center;
  align-items: center;  
}

#winner {
  position: relative;
  width: 200px;
  height: 260px;
  bottom: 500px;  
  background-image: url('../assets/guerrero.jpg'); 
  color: white;
  font-weight: bolder;
  font-size: 20px;
  left: 200px;
  display: flex;
  text-align: center;
  align-items: center;  
}

#inicio {
  position: relative;
  width: 550px;
  height: 550px;
  bottom: 600px;  
  /* background-image: url('../assets/guerrero2.jpg');  */
  background-image: url('https://darksiderconfessions.files.wordpress.com/2019/07/screen-0-800px-25fps.gif?w=900%22%20alt=%22screen-0%20(800px,%2025fps)%22');
  color: white;
  font-weight: bolder;
  font-size: 20px;
  left: 20px;
  display: flex;
  text-align: center;
  align-items: center;  
}

.btnInicio {
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 6px;
  font-size: 24px;
}

#points {
  position: relative;
  width: 40px;
  height: 25px;
  bottom: 550px;
  left: 280px;
  background-color: hsla( 0turn , 100% ,50% , 0.5 );
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}